Flask==0.10.1
Jinja2==2.8
Logentries==0.15
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.11.2
ansible==1.9.4
argparse==1.2.1
beautifulsoup4==4.4.1
certifi==2015.11.20.1
dropbox==4.0
ecdsa==0.13
gunicorn==19.4.1
itsdangerous==0.24
paramiko==1.16.0
pika==0.10.0
pycrypto==2.6.1
requests==2.8.1
six==1.10.0
urllib3==1.13
wsgiref==0.1.2
